<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/portafinve-app/portafinve-app.html">
<link rel="import" href="/src/registro-app/registro-app.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
      .encabezado{
        color: blue;
        font-size: 30px;
      }
      .pantallacompleta {
          z-index: -999;
          width: 100%;
          height: 100%;
          background-position: center center;
          position: fixed;
          top: 0;
          left: 0;
      }
      .row{
        color: yellow;
        text-align: center;
      }

      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .wrapper {
        display: grid;
        place-items: center;
      }

      .contenedor {
        width: 75%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        max-width: 550px;
        padding: 10px;
      }

       .contenedor form {
         display: flex;
         flex-direction: column;
       }

       .contenedor form label {
         font-size: 1.1em;
       }

       .contenedor form select {
         position: relative;
         padding: 0 10px;
       }

       .element input, select {
         border: none;
         height: 40px;
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         outline: none;
         width: 100%;
         background-color: white;
         border-bottom : 1px solid black;
       }
      .element label {
        text-align: right;
        margin: 0 10px;
        color: gray;
      }

      .element {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 40% 1fr;
        align-items:  center;
        margin: 10px 0;
      }

      .wrapper h2 {
        font-size: 1.6em;
        margin: 30px 0;
        text-align: center;
      }

      .wrapper button {
        background-color: gainsboro;
        border-radius: 5px;
        height: 40px;
        margin: 5px 0;
        border: none;
        width: 100%;
      }
     </style>

   <img class = "pantallacompleta" src="../../src/img/ahorro_login.jpg" alt="" hidden$={{logado}}>

   <div class="wrapper"  hidden$={{logado}}>
     <div class="contenedor">
       <h2>Entra para incrementar tus ahorros</h2>
       <form>
         <div class="element">
           <label for="email">email</label>
           <input type="email" required value="{{email::input}}" name="email">
         </div>
         <div class="element">
           <label for="password">Contraseña</label>
           <input type="password" required value="{{password::input}}" name="password">
         </div>
         <div class="element">
           <button on-click="login" type="button" name="btnlogin">Login</button>
           <button on-click="agregar" type="button" name="btnAgregar">Agregar</button>
         </div>
       </form>
     </div>
   </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3001/Login"
      content-type="application/json"
      crossDomain:true
      dataType:"jsonp"
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Header: *"
      on-response="manageAJAXResponse"
      on-error="showError">
     </iron-ajax>

    <!-- contiene el componente para registrar y  hacer inversion de los usuario -->
    <div class="container" hidden$={{integrar}}>
      <registro-app id="registro"></registro-app>
    </div>

    <!-- contiene el componente para registrar y  hacer inversion de los usuario -->
    <div class="container" hidden$={{invertir}}>
      <portafinve-app id="portafolio"></portafinve-app>
    </div>

  </template>

  <script>
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          integrar: {
            type: Boolean,
            value: true
          },
          invertir: {
            type: Boolean,
            value: true
          }
        }
      }

      login(){
        var loginData = {
          "email":this.email,
          "password":this.password
        }
        console.log("Se invoca el servicios de login")
        this.$.doLogin.body=JSON.stringify(loginData)
        //this.$.doLogin.headers=JSON.stringify(loginData)
        this.$.doLogin.generateRequest()
        console.log("Petición enviada")
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor")
        console.log(data.detail.status)
        this.logado = true;
        this.invertir = false;
        this.$.portafolio.email=this.email;
        this.$.portafolio.saldocta();
        this.$.portafolio.indicadores();

      }

      showError(error){
        console.log("Ocurrio un error")
        alert("Datos ingresados incorrectos, por favor valide")
        console.log(error)
      }

      agregar() {
        console.log("Se ha pulsado el botón de agregar");
        this.logado = true;
        this.integrar = false;
        this.$.registro.email=this.email;
        this.$.registro.pasword=this.pasword;
        //this.dentro = false;
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
