<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


Access-Control-Allow-Origin: *

<dom-module id="registro-app">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <!-- <link rel="import" href="../css/shared-styles.html"> -->
   <style>
     :host {
       display: block;
     }
     .pantallacompleta {
         z-index: -999;
         width: 100%;
         height: 100%;
         background-position: center center;
         position: fixed;
         top: 0;
         left: 0;
     }

     * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
     }
     .wrapper {

       display: grid;
       place-items: center;
     }

     .contenedor {
       width: 75%;
       height: auto;
       background-color: white;
       border-radius: 10px;
       max-width: 550px;
       padding: 10px;
     }

     .contenedor form {
       display: flex;
       flex-direction: column;
     }

     .contenedor form label {
       font-size: 1.1em;
     }

     .contenedor form select {
       position: relative;
       padding: 0 10px;
     }

     .element input, select {
       border: none;
       height: 40px;
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       outline: none;
       width: 100%;
       background-color: white;
       border-bottom : 1px solid black;
     }

     .select-wrapper {
       position: relative;
     }

     .select-wrapper:after {
       content: "";
       width: 40px;
       height: 40px;
       right: 0;
       top: 0;
       position: absolute;
       background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E") no-repeat center center;
       pointer-events: none;
     }

     .element label {
       text-align: right;
       margin: 0 10px;
       color: gray;
     }

     .element {
       display: grid;
       grid-gap: 15px;
       grid-template-columns: 40% 1fr;
       align-items:  center;
       margin: 10px 0;
     }

     .wrapper h2 {
       font-size: 1.5em;
       margin: 30px 0;
       text-align: center;
     }
     .wrapper button {
       background-color: gainsboro;
       border-radius: 5px;
       height: 40px;
       margin: 5px 0;
       border: none;
       width: 100%;
     }
     input{
       border: none;
       height: 40px;
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       outline: none;
       width: 100%;
       background-color: white;
       border-bottom : 1px solid black;
     }
     td {

     }
    </style>

   <!-- Contenedor para el registro de usuarios -->
   <div class="row">
     <img class = "pantallacompleta" src="../../src/img/ahorro_registrar.jpg" alt="">
   </div>
   <div class="wrapper">
     <div class="contenedor">
       <h2>Registrate</h2>
       <form>
         <div class="element">
           <label for="nombre">Nombre</label>
           <input type="text"  required value="{{nombre::input}}" name="nombre">
         </div>
         <div class="element">
           <label for="apaterno">A. Paterno</label>
           <input type="text" value="{{apaterno::input}}" name="apaterno">
         </div>
         <div class="element">
           <label for="amaterno">A. Materno</label>
           <input type="text" value="{{amaterno::input}}" name="amaterno">
         </div>
         <div class="element">
           <label for="email">email</label>
           <input type="email" required value="{{email::input}}" name="email">
         </div>
         <div class="element">
           <label for="password">Contraseña</label>
           <input type="password" required value="{{password::input}}" name="password">
         </div>
         <div class="element">
           <button on-click="guardar" type="submit" >Guardar</button>
           <button on-click="regresar" type="button">Regresar</button>
        </div>
       </form>
     </div>
   </div>
 </template>
 <script>
class RegistroApp extends Polymer.Element {
  static get is() { return 'registro-app'; }
  static get properties() {
   return {
     email: {
       type: String,
       value:""
     },
     password: {
       type: String,
       value:""
     },
     nombre: {
       type: String,
       value:""
     },
     apaterno: {
       type: String
     },
     amaterno: {
       type: String
     },
     registrado: {
       type: Boolean,
       value: false
     }
   }
  }

  regresar() {
   this.registrado = false;
   this.email = "";
   this.password = "";
   location.href=location.href;
  }

  guardar() {

   console.log("Se ha presionado el boton guardar")
   if (this.nombre == "" ) {
     alert("Faltan datos por capturar")
     return
   }
   if (this.email == "" ) {
     alert("Faltan datos por capturar")
     return
   }
   if (this.password == "" ) {
     alert("Faltan datos por capturar")
     return
   }
   var request = new XMLHttpRequest();
   var url = "http://localhost:3001/GuardaUser";
   request.open("POST", url, false);
   request.setRequestHeader("Accept", "application/json");
   request.setRequestHeader("Content-Type", "application/json");
   var nuevoCliente = {"email":this.email,"password":this.password,"nombre":this.nombre,"apaterno":this.apaterno, "amaterno":this.amaterno};

   var body = JSON.stringify(nuevoCliente);
   console.log("antes del envio " + body);
   request.send(body);
   this.respuesta = request.responseText;
   console.log("ZZZ " + request.status);
   console.log("ZZZ1 " + request.responseText);

   if (request.status == 200) {
     this.registrado = false;
     this.password = "";
     alert("Se han registrado correctamente sus datos")
     location.href=location.href;
   } else {
      console.log("Error al guardar: " + request.status);
   }
  }

 }
   window.customElements.define(RegistroApp.is, RegistroApp);
 </script>
</dom-module>
