<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="portafinve-app">
 <template>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <!--
   <link rel="import" href="../css/shared-styles.html">
   -->
   <style>
     :host {
       display: block;
     }
     .encabezado{
       color: yellow;
       font-size: 30px;
     }
     .pantallacompleta {
         z-index: -999;
         width: 100%;
         height: 100%;
         background-position: center center;
         position: fixed;
         top: 0;
         left: 0;
     }
     .row{
       color: yellow;
       text-align: right;
     }


     * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
     }
     .wrapper {
       background-color: #ebebeb;
       width: 100%;
       height: 100vh;
       display: grid;
       place-items: center;
     }

     .contenedor {
       width: 75%;
       height: auto;
       background-color: white;
       border-radius: 10px;
       max-width: 550px;
       padding: 10px;
       margin: 10px;
       font-size: .9em;
     }

     .contenedor form {
       display: flex;
       flex-direction: column;
     }

     .contenedor form select {
       position: relative;
       padding: 0 10px;
     }

     .element input, select {
       border: none;
       height: 40px;
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       outline: none;
       width: 100%;
       background-color: white;
       border-bottom : 1px solid black;
     }

     .select-wrapper {
       position: relative;
     }

     .select-wrapper:after {
       content: "";
       width: 40px;
       height: 40px;
       right: 0;
       top: 0;
       position: absolute;
       background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E") no-repeat center center;
       pointer-events: none;
     }

     .element label {
       text-align: right;
       margin: 0 10px;
       color: gray;
     }

     .element {
       display: grid;
       grid-gap: 15px;
       grid-template-columns: 40% 1fr;
       align-items:  center;
       margin: 10px 0;
     }

     .wrapper h2 {
       font-size: 1.6em;
       margin: 30px 0;
       text-align: center;
     }

     .wrapper button {
       background-color: gainsboro;
       border-radius: 5px;
       height: 40px;
       margin: 5px 0;
       border: none;
       width: 100%;
     }
    </style>

  <!-- Contenedor para la operación de los portafolios -->
  <div class="wrapper" >
    <div class="contenedor">
      <h2>Registra tus aportaciones y retiros</h2>
        <input type="text" name="email" value="[[email]]" disabled>
      <form>
        <div class="element">
          <label for="portfolio">Portafolio</label>
          <span class="select-wrapper">
          <select value="{{portafolio::change}}" name="portfolio">
            <option>Bajo riesgo</option>
            <option>Mediano riesgo</option>
            <option>Alto riesgo</option>
          </select>
          </span>
        </div>
        <div class="element">
          <label for="operacion">Operación</label>
          <span class="select-wrapper">
          <select name="operacion" value="{{operacion::change}}">
            <option value=1>Aportación</option>
            <option value=-1>Retiro</option>
          </select>
          </span>
        </div>
        <div class="element">
          <label for="importe">Importe</label>
          <input type="number" name="importe" value="{{importe::input}}">
        </div>
        <div class="element">
          <label for="saldo">Tu saldo al dia de hoy es de:</label>
          <input type="text" name="saldo" value="[[saldo]]" disabled>
          <button on-click="inventir" type="button">Invertir</button>
          <button on-click="saldocta" type="button" hidden=true>Saldo</button>
        </div>
      </form>
    </div>
    <div class="contenedor" >
      <h2>Indicadores de la página de Banxico</h2>
      <form >
        <div class="element" >
          <label for="tipoCambio">Tipo de cambio del día: </label>
          <input type="text" name="tipoCambio" value="[[tcdolar]]" disabled>
          <label for="tasaTIIE">Tasa TIIE del día: </label>
          <input type="text" name="tasaTIIE" value="[[tiie]]" disabled>
          <button on-click="indicadores" type="button">Actualizar</button>
        </div>
      </form>
      <button on-click="salir" type="button">Salir</button>
    </div>

  </div>
  <iron-ajax
    id="doSaldo"
    url="http://localhost:3001/Saldo"
    content-type="application/json"
    crossDomain:true
    dataType:"jsonp"
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Header: *"
    on-response="manageAJAXResponse"
    on-error="showError">
   </iron-ajax>

  </template>

 <script>
  class PortafinveApp extends Polymer.Element {
    static get is() {return 'portafinve-app'; }
    static get properties() {
     return {
       email: {
         type: String,
         value: ""
       },
       portafolio: {
         type: String,
         value: "Bajo Riesgo"
       },
       operacion: {
         type: Number,
         value: 1
       },
       importe: {
         type: Number
       },
       saldo: {
         type: Number,
         value: 0
       },
       movimientos: {
         type: Array,
         notify: true
      },
      tiposcambios: {
        type: Array,
        notify: true
      },
      tcdolar: {
        type: Number,
        value: 0
      },
      tiie: {
        type: Number,
        value: 0
      },
       dentro: {
         type: Boolean,
         value: true
       }
     }
    }

    salir() {
     this.dentro = false;
     this.email = "";
     this.password = "";
     location.href=location.href;
    }

    regresar() {
     this.registrado = false;
     this.logado = false;
     this.dentro = false;
     this.email = "";
     this.password = "";
    }

    guardar() {

     console.log("Se ha presionado el boton guardar")
     var request = new XMLHttpRequest();
     var url = "http://localhost:3001/GuardaUser";
     request.open("POST", url, false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json");
     var nuevoCliente = {"email":this.email,"password":this.password,"nombre":this.nombre,"apaterno":this.apaterno, "amaterno":this.amaterno};

     var body = JSON.stringify(nuevoCliente);
     console.log("antes del envio " + body);
     request.send(body);
     this.respuesta = request.responseText;
     console.log("ZZZ " + request.status);
     console.log("ZZZ1 " + request.responseText);

     if (request.status == 200) {
       this.registrado = false;
       this.dentro = false;
       this.password = "";
       location.href=location.href;
     } else {
        console.log("Error al guardar: " + request.status);
     }
    }

    inventir() {
      console.log("Se ha pulsado el botón de invertir");
      if (!/^([0-9.])*$/.test(this.importe) || this.importe == 0){
        //alert("El valor " + numero + " no es un número");
         alert("Capture un importe válido");
         return false;
       }
       var request = new XMLHttpRequest();
       var url = "http://localhost:3001/Invierte";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var nuevaInversion = {"email":this.email,"portafolio":this.portafolio,"importe":parseFloat((this.importe * this.operacion),10)};

       var body = JSON.stringify(nuevaInversion);
       console.log("antes de enviar la petición " + request.status);
       request.send(body);
       this.respuesta = request.responseText;
       console.log("estatus de la respuesta " + request.status);
       console.log("respuesta " + request.responseText);
       this.saldocta()
       alert("Se ha realizado la inversión correctamente")
       this.importe = 0;
     }

    saldocta() {
       var request = new XMLHttpRequest();
       var url = "http://localhost:3001/Saldo";
       var dataSaldo={"email":this.email}

       console.log(JSON.stringify(dataSaldo))
       this.$.doSaldo.body=JSON.stringify(dataSaldo)
       this.$.doSaldo.headers=JSON.stringify(dataSaldo)
       this.$.doSaldo.generateRequest()
       console.log("Petición enviada")
    }

    manageAJAXResponse(data){
      var x = 0;
      var total = 0;
      console.log("Saldo recibido del servidor")
      console.log(data.detail.response)
      this.movimientos = data.detail.response;
      //console.log(this.movimientos);
      console.log("Calcula saldo")
      for (x=0;x<this.movimientos.length;x++){
        total = total + this.movimientos[x].importe;
      }
      console.log("total " + total);
      this.saldo=Math.round(total * 100)/100;
      return this.saldo;

    }

    showError(error){
      console.log("Ocurrio un error")
      alert("Error en la consulta del saldo")
      console.log(error)
    }

    indicadores(){
     var request = new XMLHttpRequest();
     var urlCliente = "http://localhost:3001/apipubget";
     var vserie_TC ="SF43718";
     var vserie_TIIE ="SF43783";
     console.log("proceso de carga indicadores " + urlCliente);

     request.open("GET", urlCliente, false);
     request.send();

     this.tiposcambios = JSON.parse(request.responseText);
     console.log("Respuesta del banxico " + this.tiposcambios.bmx.series[0].idSerie);

     console.log("variables locales TC " + vserie_TC + " TIIE " + vserie_TIIE + " Arreglo") ;
     console.log(this.tiposcambios)

     if (this.tiposcambios.bmx.series[0].idSerie == vserie_TC){
       console.log("tiie en 1 ");
       this.tcdolar = this.tiposcambios.bmx.series[0].datos[0].dato;
       this.tiie = this.tiposcambios.bmx.series[1].datos[0].dato;
     }
     else {
        console.log("tiie en 0 ");
       this.tiie = this.tiposcambios.bmx.series[0].datos[0].dato;
       this.tcdolar = this.tiposcambios.bmx.series[1].datos[0].dato;
     }

    }

  }// del script


   window.customElements.define(PortafinveApp.is, PortafinveApp);
 </script>
</dom-module>
