:host {
  display: block;
}
.encabezado{
  color: yellow;
  font-size: 30px;
}
.pantallacompleta {
    z-index: -999;
    width: 100%;
    height: 100%;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
}
.row{
  color: yellow;
  text-align: right;
}
