<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>

      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .wrapper {
        background-color: #ebebeb;
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
      }

      .contenedor {
        width: 75%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        max-width: 550px;
        padding: 10px;
      }

      .contenedor form {
        display: flex;
        flex-direction: column;
      }

      .contenedor form label {
        font-size: 1.1em;
      }

      .contenedor form select {
        position: relative;
        padding: 0 10px;
      }

      .element input, select {
        border: none;
        height: 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        width: 100%;
        background-color: white;
        border-left: 1px solid black;
      }

      .select-wrapper {
        position: relative;
      }

      .select-wrapper:after {
        content: "";
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        position: absolute;
        background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E") no-repeat center center;
        pointer-events: none;
      }

      .element label {
        text-align: right;
        margin: 0 10px;
        color: gray;
      }

      .element {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 40% 1fr;
        align-items:  center;
        margin: 10px 0;
      }

      .wrapper h2 {
        font-size: 1.5em;
        margin: 30px 0;
        text-align: center;
      }

    </style>
  </template>
</dom-module>
